streamlit
pandas
numpy
scikit-learn
nltk
sentence-transformers
plotly
wordcloud
seaborn
matplotlib
fuzzywuzzy
python-levenshtein
pymongo
python-dotenv
tqdm
requests
ipywidgets
pillow
openpyxl
networkx
joblib
scipy
spacy
beautifulsoup4
langchain
transformers
